<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>购物车</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>
		<div id="app" v-cloak>
			<template v-if="list.length">
				<table>
					<thead>
						<tr>
							<th></th>
							<th>商品名称</th>
							<th>商品单价</th>
							<th>购买数量</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item, index) in list">
							<td>{{ index + 1 }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.price }}</td>
							<td><button @click="handleReduce(index)">-</button>&nbsp {{item.count}} &nbsp <button @click="handleAdd(index)">+</button></td>
							<td><button @click="handleRemove(index)">移除</button></td>
						</tr>
						
					</tbody>
				</table>
				<div>总价: <span class="red">￥{{totalPrice}}元</span></div>
			</template>
				<div v-else>购物车为空</div>
		</div>
		<script src="js/vue.js"></script>
		<script>
			
			var app = new Vue({
				el:'#app',
				data:{
					list:[
						{
							id: 1,
							name: 'iPhone 7',
							price: 6188,
							count: 1
						},
						{
							id: 2,
							name: 'iPad Pro',
							price: 5888,
							count: 1
						},
						{
							id: 3,
							name: 'MacBook Pro',
							price: 21488,
							count: 1
						}
					]
				},
				computed:{
					totalPrice: function () {
						var _this = this;
						var total =0;
						for(var i = 0; i< _this.list.length; i++){
							var item = _this.list[i];
							total += item.price*item.count;
						}
						
						return total;
					}
				},
				methods:{
					handleRemove: function(index){
						var _this = this;
						_this.list.splice(index, 1);
					},
					handleAdd: function(index){
						var _this = this;
						_this.list[index].count++;
					},
					handleReduce: function(index){
						var _this = this;
						if(_this.list[index].count == 1){
							_this.list.splice(index, 1);
						}else{
							_this.list[index].count--;
						}
					}
				}
			})
			
		</script>
		
	</body>
</html>
